/* Container maior */
.graphContainer {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.graphContainer > nav {
    width: 100%;
    height: 5rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
}

.graphContainer > nav * {
    margin-right: 1rem;
}

/* Container Grafo */
.react-sigma {
    width: 100%;
    height: 100vh;
    z-index: 30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerGraph {
    height: 100vh;
    position: inherit;
    z-index: 2;
}

.graphOptionsFilterShow {
    width: 8%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.graphOptionsLayoutShow {
    width: 8%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.buttonOption {
    width: 3rem;
    height: 3rem;
    padding: 5px;
}

.graphOptionsLayoutLeft {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--silver);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
}

.graphOptionsLayoutRight {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: var(--silver);
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.9;
}

.graphOptionsFilterFooter {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    bottom: 0;
    background-color: #ecf0f1;
    transition: 0.5s;
    opacity: 0.8;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: auto;
    box-shadow: 0 -4px rgba(149, 165, 166, 0.2);
}

.graphOptionsFilterFooter > div {
    width: 90%;
    height: 7rem;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

/* Footer */
footer {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
}