.menuRight {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0.9;
}

.containerBtnClose {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerLayoutConfigure {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
}

.layoutConfigureForm {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.selectFilterAlgoritm {
    width: 8rem;
    height: 1.8rem;
    margin-top: 0.6rem;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    font-weight: 400;
    color: var(--blue);
}

.radioBtnsLayout {
    margin-left: auto;
    margin-right: auto;
}

.applyLayoutBtn {
    width: 7rem;
    height: 2rem;
    background: none;
    border-radius: 0.2rem;
    border: 1px solid var(--blue);
    font-family: "Roboto", "sans-serif";
    font-weight: 500;
    color: var(--blue);
    transition: background-color 1.2s;
    transition: color 1.2s;
    margin-top: -0.4rem;
}

.applyLayoutBtn:hover {
    background-color: var(--blue);
    color: white;
}